
.AppLayout{
    height: 100%;
}

.header{
    height: 60px;
    background-color: cadetblue;
    padding: 5px;
}

.main{
    height: 100%;
}
.leftMenu{
    padding: 5px;
}
.leftMenuItem {
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
}